html, body {
  height: 100%;
}
body {
  background-color: $purple;
  font-size: 12px;
}

.hide {
  display: none;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.clear{
  clear: both;
}

.nav {
  font-family: $base-font;
  margin:1.5em 0em;
}
@for $i from 1 through 5 {
  .menu-item:nth-of-type(#{$i}) {
    @include transition(#{$i/3}s);
    @include transform(0, #{$distance}px);
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  .menu-btn {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
}
.navigator {
  @include transition;
  @include transform(0);
  position: relative;
  top: 0;
  background-color: $pinkred;
  height: 150px;
  width: 100%;
  overflow: hidden;
  z-index: 3;
  @at-root .menu-item{
    margin-top: 3.125em;
    text-align: center;
    color: $purple;
    .shown & {
      @include transform(0, 0);
    }
    &:hover {
      text-decoration: none;
    }
  }
  &.shown {
    @include transform(0, 0);
  }
  .menu-btn {
    @include transition(0.6s);
    @include transform(0, -100px);
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    font-family: $base-font;
    color: $purple;
    line-height: 2px;
    &.shown{
      @include transform(0, 0);
    }
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 0;
  .opened & {
    overflow: hidden;
  }
}
.menu-btn {
  position: relative;
  font-size: 6.25em;
  color: $pinkred;
  text-decoration: none;
  margin: 20px;
  z-index: 1;
}

.overlay {
  @include transition;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $notsopurple;
  opacity: 0;
  z-index: -1;
  .opened &{
    opacity: 0.4;
  }
}

.first {
  height: 100vh;
}

.separator, .subtitle {
  color: white;
  text-align: center;
}

.book-page {
  font-family: $sans-serif-font;
  color: $dirtywhite;
  padding: 0 20px;
  text-align: justify;
  p {
    font-size: 1.3em;
  }
  a {
    color: $dirtywhite;
  }
}

@media screen and (min-width: 64em) {
  body {
    font-size: 16px;
  }
  .book-page {
    padding: 0 75px;
    p{
      font-size: 1em;
    }
  }
  section.pure-g {
    height: 100vh;
  }
}