#home {
  @include transition;
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -123px;
  margin-top: -36px;
  width: 246px;
  color: $pinkred;
  h1 {
    font-size: 15px;
    text-align: center;
  }
}
