html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: $base-font;
}
a{
//  text-decoration: none;
}

h6 {
  font-family: $base-font;
}

.italic {
  font-style: italic;
}

p {
  line-height: 24px;
}