html, button, input, select, textarea,
.pure-g [class *= "pure-u"], .pure-g [class *= "pure-u-sm"] {
  font-family: $base-font;
}
h6 {
  font-family: $base-font;
}

.italic {
  font-style: italic;
}

p {
  line-height: 24px;
}

.right {
  text-align: right;
}
section.pure-g{
  h2 {
    font-size: 3.5em;
    color: $pinkred;
  }
}
.subtitle {
  font-family: $sans-serif-font;
  font-size: 1.2em;
}
.tilde {
  font-family: $sans-serif-font;
  font-size: 2em;
  display: inline-block;
  color: white;
}

.tilde + .subtitle {
  display: inline-block;
}

.book-page {
  p {
    font-family: $sans-serif-font;
  }
}
.skills {
  [class *= "pure-u"] {
    text-align: left;
  }
}